header ul li:nth-of-type(1) {
	text-decoration: overline;
}

#Cartel {
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 90vh;
	/* height: fit-content; */
	border-radius: 15px;
}

h1 {
	text-align: center;
	font-size: 3em;
	margin-top: 20px;
}
