header ul li:nth-of-type(2) {
	text-decoration: overline;
}

.GaleriaHistoria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4%;
	margin: auto;
	width: 90%;
	margin-bottom: 2%;
}

.GaleriaHistoria img {
	width: 450px;
	height: auto;
	border-radius: 10px;
}

.GaleriaHistoria img:hover {
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.ContenidoHistoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    box-sizing: border-box;
	margin: auto;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 4px solid black;
    border-radius: 2%;
    padding: 2%;
    background-color: gainsboro;
}

.ImgContenidoHistoria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    align-items: center;
}

.ImgContenidoHistoria img {
    width: 100%;
    border-radius: 10px;
}

.TextoHistoria {
    width: 45%;
}

.TextoHistoria p {
    font-size: 18px;
    line-height: 1.6em;
    text-align: justify;
    margin-bottom: 20px;
}

.ImgSueltaHistoria {
	display: block;
	margin: 20px auto;
	width: 50%;
	border-radius: 10px;
}

