header ul li:nth-of-type(1) {
	text-decoration: overline;
}

#CarnavalFestivo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 2%;
}

#CarnavalRoma {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	border-radius: 15px;
}

figcaption {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 2%;
}
