#Cartel {
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 90vh;
	/* height: fit-content; */
	border-radius: 15px;
}

h1 {
	text-align: center;
	font-size: 3em;
	margin-top: 2%;
}

h2 {
	text-align: center;
	font-size: 2.5em;
	margin-top: 2%;
}

.ColorAzul {
	color: blue;
}

main p {
	margin: auto;
	width: 90%;
	font-size: 18px;
	line-height: 1.6em;
	text-align: justify;
	margin-bottom: 2%;
}

.TextoSinEspacio {
	text-align: justify;
	margin: auto;
	width: 90%;
	font-size: 18px;
	line-height: 1.6em;
	margin-bottom: 2%;
	margin-top: 0;
	padding-top: 0;
}
